:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.canvas-container {
  border: 1px solid #ccc;
  width: 850px;
  height: 600px;
  position: relative;
  background-color: #f0f0f0;
}

.toolbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  width: 850px; /* Match the canvas-container width */
  height: 100px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
