

.guide-container .list-group-item {
  background-color: transparent;
  border-color: rgba(156, 28, 28, 0.1);
}

.sidebar {
  background-color: #343a40 !important;
  width: 200px;
  height: 100vh;
}
.main-content {
  flex-grow: 1;
  padding: 20px;
}
