.bg-dark {
  background-color: #343a40 !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lessons {
  list-style-type: none;
  padding: 0;
}

.lessons li {
  margin-bottom: 15px;
}

.lessons button {
  width: 100%;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.scrollable-list {
  flex: 1;
  overflow-y: auto;
}

/* Optional scrollbar styling */
.scrollable-list::-webkit-scrollbar {
  width: 6px;
}
.scrollable-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollable-list::-webkit-scrollbar-thumb {
  background: #888;
}
.scrollable-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 767px) {
  .bg-dark {
    height: 200px;
  }
}
