<div class="bg-dark text-white p-3" style="height: 100%;">
  <h3>Lessons</h3>
  <ul class="list-group lessons">
    <li class="list-group-item">
      <button class="btn btn-info" (click)="navigate('intro')" >Introduction</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary" (click)="navigate('basic')">Basic Gates</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-secondary " (click)="navigate('adv')">Advanced Gates</button>
    </li>
  </ul>
</div>

