.bg-dark {
  background-color: #343a40 !important;
  border-radius: 10px;
  height: 100%;
  overflow-y: auto;
}

.content img {
  max-width: 100%;
  height: auto;
}

.table-responsive {
  overflow-x: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 300px;
}
