<div class="bg-dark text-white p-3 h-100">
  <h4>{{currentLesson.title}}</h4>
  <div class="content">
    <p *ngFor="let paragraph of currentLesson.content.paragraphs">{{paragraph}}</p>
  </div>

  <div *ngIf="currentLesson.content.images" class="image-container">
    <img *ngFor="let image of currentLesson.content.images" [src]="image" alt="Lesson Image" class="img-fluid mb-3 styled-image">
  </div>

  <div *ngIf="currentLesson.content.tables" class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th *ngFor="let header of currentLesson.content.tables[0].columns">{{header}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of currentLesson.content.tables[0].data">
        <td *ngFor="let cell of row">{{cell}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
