<div class="container-fluid" role="main">
  <h1 class="text-center my-5 welcome-text">Welcome to LogicPulse</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card text-white h-100" style="background-color: rgb(13 17 15)">
        <div class="image-container">
          <img class="card-img-top" alt="Tutorials" src="/public/images/tutorial_800_533.jpg" height="533" width="800">
        </div>
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Tutorials</h3>
          <p class="card-text flex-grow-1">Learn the basics of logic gates and circuits through interactive tutorials.</p>
          <a class="btn btn-light mt-auto btn-tut" routerLink="/tutorials">Start Learning</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-white h-100" style="background-color: #616368">
        <div class="image-container">
          <img class="card-img-top" alt="Challenges" src="/public/images/challenge_800_800.jpg" height="800" width="800">
        </div>
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Challenges</h3>
          <p class="card-text flex-grow-1">Test your knowledge and skills with various logic gate challenges.</p>
          <a class="btn btn-light mt-auto btn-ch" routerLink="/challenges">Take Challenge</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card bg-secondary text-white h-100">
        <div class="image-container">
          <img class="card-img-top" alt="Design" src="/public/images/design_800_728.jpg" height="728" width="800">
        </div>
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Design</h3>
          <p class="card-text flex-grow-1">Start designing your own logic circuits using our intuitive simulator.</p>
          <a class="btn btn-light mt-auto btn-des" routerLink="/simulator">Start Designing</a>
        </div>
      </div>
    </div>
  </div>
</div>
