<div class="container-fluid" role="main">
  <h1 class="text-center welcome-text">Welcome to LogicPulse</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="image-container">
          <img src="/public/images/tutorial_800_533.jpg" class="card-img-top" alt="Tutorials">
        </div>
        <div class="card-body">
          <h3 class="card-title">Tutorials</h3>
          <p class="card-text">Learn the basics of logic gates and circuits through interactive tutorials.</p>
          <a routerLink="/tutorials" class="btn btn-tut mt-auto">Start Learning</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="image-container">
          <img src="/public/images/challenge_800_800.jpg" class="card-img-top" alt="Challenges">
        </div>
        <div class="card-body">
          <h3 class="card-title">Challenges</h3>
          <p class="card-text">Test your knowledge and skills with various logic gate challenges.</p>
          <a routerLink="/challenges" class="btn btn-ch mt-auto">Take Challenge</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="image-container">
          <img src="/public/images/design_800_728.jpg" class="card-img-top" alt="Design">
        </div>
        <div class="card-body">
          <h3 class="card-title">Design</h3>
          <p class="card-text">Start designing your own logic circuits using our intuitive simulator.</p>
          <a routerLink="/simulator" class="btn btn-des mt-auto">Start Designing</a>
        </div>
      </div>
    </div>
  </div>
</div>
